{% extends "templates/base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/assets/controlPanel.css">
    <script src="/assets/markdownEditor.js" defer type="module"></script>
    <title>Control panel</title>
{% endblock %}

{% block main %}
    {% if success %}
        <div class="info-box">
            <p>{{ msg }}</p>
        </div>
    {% endif %}
    {% if err %}
        <div class="info-box error-box">
            <p>{{ msg }}</p>
            <pre><code>{{ err }}</code></pre>
        </div>
    {% endif %}
    <h1>Make a blog post</h1>
    <form action="/posts/new" enctype="multipart/form-data" method="post">
        <label for="blog-post-title">Post title (required):</label>
        <input name="blog-post-title" type="text" value="{{ blogPostTitle }}">

        <label for="blog-post-body">Post body (required):</label>
        <div class="markdown-editor">
            <textarea name="blog-post-body" id="blog-post-body" rows="10">{{ blogPostBody }}</textarea>
            <pre><code class="markdown-preview nohighlight" id="blog-post-preview"></code></pre>
            <pre><code class="line-numbers nohighlight" id="blog-post-line-numbers"></code></pre>
        </div>
        <p class="hint">Blog posts support markdown and nunjucks.</p>

        <label for="blog-post-image">Post image (optional):</label>
        <input type="file" name="blog-post-image">

        <label for="password">Admin password:</label>
        <input type="password" name="password">

        <input type="submit" value="Post!">
    </form>


    <h1>Settings</h1>
    <form action="/control/set/blogName" enctype="multipart/form-data" method="post">
        <h2>Change blog name</h2>
        <label for="blog-name">Blog name:</label>
        <input type="text" name="blog-name" value="{% include "templates/blogName.njk" %}">
        <p class="hint">This is the name of the blog that gets displayed in multiple places.</p>

        <label for="password">Admin password:</label>
        <input type="password" name="password">

        <input type="submit" value="Save!">
    </form>

    <form action="/control/set/aboutText" enctype="multipart/form-data" method="post">
        <h2>Change about text</h2>
        <label for="about-text">About text:</label>
        <div class="markdown-editor">
            <textarea name="blog-post-body" id="about-text" rows="10">{{ aboutText }}</textarea>
            <pre><code class="markdown-preview" id="about-text-preview"></code></pre>
            <pre><code class="line-numbers" id="about-text-line-numbers"></code></pre>
        </div>
        <p class="hint">This is the text displayed <a href="/about">here</a>.</p>

        <label for="password">Admin password:</label>
        <input type="password" name="password">

        <input type="submit" value="Save!">
    </form>
{% endblock %}