{% extends "templates/base.njk" %}
{% import "templates/post.njk" as blogPost %}

{% block main %}
    {% for post in posts %}
        {{ blogPost.post(post.title, post.file, post.niceTime) }}
        {{ blogPost.post(post.title, post.file, post.niceTime) }}
        {{ blogPost.post(post.title, post.file, post.niceTime) }}
        {{ blogPost.post(post.title, post.file, post.niceTime) }}
        {{ blogPost.post(post.title, post.file, post.niceTime) }}
        {{ blogPost.post(post.title, post.file, post.niceTime) }}
    {% endfor %}
{% endblock %}