{% extends "templates/base.njk" %}
{% import "templates/post.njk" as blogPost %}

{% block main %}
    {% for post in posts %}
        {{ blogPost.post(post.id, post.title, post.title_id, post.text, post.niceTime) }}
    {% endfor %}
{% endblock %}