{% extends "templates/base.njk" %}
{% import "templates/post.njk" as blogPost %}

{% block head %}
    <link rel="stylesheet" href="/assets/controlPanel.css">
    <title>{% include "templates/blogName.njk" %} - Search</title>
{% endblock %}

{% block main %}
    <form action="/search" method="get">
        <h1>Search for something...</h1>
        <input type="text" name="q" value="{{ query}}">
        <input type="submit" value="Search!">
        <p>You can search using regexes.</p>
        {% if invalidRegexp %}
            <div class="info-box error-box">
                <p>Error! It seems you've entered and invalid regex/search term!</p>
            </div>
        {% endif %}
    </form>

    <h1>Results...</h1>
    {% if not results[0] %}
        <p>Found no search results... Try searching for something else!</p>
    {% endif %}

    {% for post in results %}
        {% filter safe %}
        {% filter replace(queryRegex1, "<span class=\"highlight\">$&</span>" | safe) %}
        {% filter safe %}
        {% filter replace(queryRegex2, "<span class=\"highlight\">$&</span>" | safe) %}
            {{ blogPost.post(post.id, post.title, post.title_id, post.text, post.niceTime) | safe }}
        {% endfilter %}
        {% endfilter %}
        {% endfilter %}
        {% endfilter %}
    {% endfor %}
{% endblock %}