{% extends "templates/base.njk" %}
{% import "templates/post.njk" as blogPost %}

{% block head %}
    <link rel="stylesheet" href="/assets/controlPanel.css">
    <title>{% include "templates/blogName.njk" %} - Search</title>
{% endblock %}

{% block main %}
    <form action="/search" method="get">
        <h1>Search for something...</h1>
        <input type="text" name="q" value="{{ query}}">
        <input type="submit" value="Search!">
        <p>You can search using regexes.</p>
        {% if invalidRegexp %}
            <div class="info-box error-box">
                <p>Error! It seems you've entered and invalid regex/search term!</p>
            </div>
        {% endif %}
    </form>

    <h1>Results...</h1>
    {% if not results[0] %}
        <p>Found no search results... Try searching for something else!</p>
    {% endif %}

    {% set queryRegex1 = new Regexp("\\b\\w*?(" + query + ")\\w*?\\b", "igm") %}
    {% set queryRegex2 = new Regexp(query, "igm") %}
    {% for post in results %}
        {% set title = post.title | replace(queryRegex1, '<span class="highlight">$&</span>') | safe | replace(queryRegex2, '<span class="highlight">$&</span>') | safe %}
        {% set text  = post.text  | replace(queryRegex1, '<span class="highlight">$&</span>') | safe | replace(queryRegex2, '<span class="highlight">$&</span>') | safe %}
        {{ blogPost.post(post.id, title, post.title_id, text, post.niceTime) | safe }}
    {% endfor %}
{% endblock %}