<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/scale.css">
    <link rel="stylesheet" href="/assets/syntax.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    {% block head %}
        <title>{% include "templates/blogName.njk" %}</title>
    {% endblock %}
</head>
<body>
    <aside>
        <div class="picture" style="height: 8rem; width: 8rem; background-color: #FA80AC;"></div>
        <h1 class="blog-name">{% include "templates/blogName.njk" %}</h1>
        <nav>
            <a href="/">Blog Posts</a>
            <a href="/about">About Me</a>
            <a href="/control">Control Panel</a>
        </nav>
    </aside>
    <main>
        {% block main %}
            <p>Hello World!</p>
        {% endblock %}
    </main>
</body>
</html>