<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/assets/fonts.css" as="style">
    <link rel="preload" href="/assets/main.css" as="style">
    <link rel="preload" href="/assets/scale.css" as="style">
    <link rel="preload" href="/assets/syntax.css" as="style">
    <link rel="stylesheet" href="/assets/fonts.css" defer>
    <link rel="stylesheet" href="/assets/main.css" defer>
    <link rel="stylesheet" href="/assets/scale.css" defer>
    <link rel="stylesheet" href="/assets/syntax.css" defer>

    {% block head %}
        <title>{% include "templates/blogName.njk" %}</title>
    {% endblock %}
</head>
<body>
    <aside>
        <div class="picture" style="height: 8rem; width: 8rem; background-color: #FA80AC;"></div>
        <h1 class="blog-name">{% include "templates/blogName.njk" %}</h1>
        <nav>
            <a href="/">Blog Posts</a>
            <a href="/about">About Me</a>
            <a href="/search">Search</a>
            {# <a href="/control">Control Panel</a> #}
        </nav>
    </aside>
    <main>
        {% block main %}
            <p>Hello World!</p>
        {% endblock %}
    </main>
</body>
</html>