{% macro post(title, id, date) %}
    <div class="blog-post">
        <h1 class="blog-post-title">{{ title }}</h1>
        <div class="blog-post-image" style="background-image: url('/assets/images/{{ id }}.webp');"></div>
        <div class="blog-post-body">
            {% markdown "posts/" + id + ".md" %}
        </div>
        <p class="blog-post-date">{{ date }}</p>
    </div>
{% endmacro %}