{% extends "templates/base.njk" %}

{% block main %}
    <div class="blog-post">
        <h1 class="blog-post-title">Hello World!</h1>
        <div style="height: 8rem; width: 100%; background-color: #B7EFF0;"></div>
        <p class="blog-post-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat nulla eos blanditiis, soluta enim sit qui recusandae fuga aperiam. Rerum consequuntur pariatur neque odio ex harum, corporis minus ipsa eius tempora, vero dolore non excepturi ipsum doloribus natus earum. Illo aliquid natus, tempore iure impedit, nihil veniam labore nemo adipisci, mollitia quam a cum. Autem ex mollitia illum est recusandae, nam aspernatur ipsum. Ducimus eum ipsam fuga facilis. Nostrum harum cumque natus maxime unde excepturi recusandae, ipsum cum enim ratione blanditiis? Voluptas rerum magni, quidem quos illum, suscipit alias tempore possimus dicta quasi earum labore nostrum culpa blanditiis voluptatum.
        </p>
        <p class="blog-post-date">10 Jan 2008 -- 20:45:32</p>
    </div>
    <div class="blog-post">
        <h1 class="blog-post-title">Hello World!</h1>
        <div style="height: 8rem; width: 100%; background-color: #B7EFF0;"></div>
        <p class="blog-post-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat nulla eos blanditiis, soluta enim sit qui recusandae fuga aperiam. Rerum consequuntur pariatur neque odio ex harum, corporis minus ipsa eius tempora, vero dolore non excepturi ipsum doloribus natus earum. Illo aliquid natus, tempore iure impedit, nihil veniam labore nemo adipisci, mollitia quam a cum. Autem ex mollitia illum est recusandae, nam aspernatur ipsum. Ducimus eum ipsam fuga facilis. Nostrum harum cumque natus maxime unde excepturi recusandae, ipsum cum enim ratione blanditiis? Voluptas rerum magni, quidem quos illum, suscipit alias tempore possimus dicta quasi earum labore nostrum culpa blanditiis voluptatum.
        </p>
        <p class="blog-post-date">10 Jan 2008 -- 20:45:32</p>
    </div>
    <div class="blog-post">
        <h1 class="blog-post-title">Hello World!</h1>
        <div style="height: 8rem; width: 100%; background-color: #B7EFF0;"></div>
        <p class="blog-post-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat nulla eos blanditiis, soluta enim sit qui recusandae fuga aperiam. Rerum consequuntur pariatur neque odio ex harum, corporis minus ipsa eius tempora, vero dolore non excepturi ipsum doloribus natus earum. Illo aliquid natus, tempore iure impedit, nihil veniam labore nemo adipisci, mollitia quam a cum. Autem ex mollitia illum est recusandae, nam aspernatur ipsum. Ducimus eum ipsam fuga facilis. Nostrum harum cumque natus maxime unde excepturi recusandae, ipsum cum enim ratione blanditiis? Voluptas rerum magni, quidem quos illum, suscipit alias tempore possimus dicta quasi earum labore nostrum culpa blanditiis voluptatum.
        </p>
        <p class="blog-post-date">10 Jan 2008 -- 20:45:32</p>
    </div>
    <div class="blog-post">
        <h1 class="blog-post-title">Hello World!</h1>
        <div style="height: 8rem; width: 100%; background-color: #B7EFF0;"></div>
        <p class="blog-post-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat nulla eos blanditiis, soluta enim sit qui recusandae fuga aperiam. Rerum consequuntur pariatur neque odio ex harum, corporis minus ipsa eius tempora, vero dolore non excepturi ipsum doloribus natus earum. Illo aliquid natus, tempore iure impedit, nihil veniam labore nemo adipisci, mollitia quam a cum. Autem ex mollitia illum est recusandae, nam aspernatur ipsum. Ducimus eum ipsam fuga facilis. Nostrum harum cumque natus maxime unde excepturi recusandae, ipsum cum enim ratione blanditiis? Voluptas rerum magni, quidem quos illum, suscipit alias tempore possimus dicta quasi earum labore nostrum culpa blanditiis voluptatum.
        </p>
        <p class="blog-post-date">10 Jan 2008 -- 20:45:32</p>
    </div>
    <div class="blog-post">
        <h1 class="blog-post-title">Hello World!</h1>
        <div style="height: 8rem; width: 100%; background-color: #B7EFF0;"></div>
        <p class="blog-post-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat nulla eos blanditiis, soluta enim sit qui recusandae fuga aperiam. Rerum consequuntur pariatur neque odio ex harum, corporis minus ipsa eius tempora, vero dolore non excepturi ipsum doloribus natus earum. Illo aliquid natus, tempore iure impedit, nihil veniam labore nemo adipisci, mollitia quam a cum. Autem ex mollitia illum est recusandae, nam aspernatur ipsum. Ducimus eum ipsam fuga facilis. Nostrum harum cumque natus maxime unde excepturi recusandae, ipsum cum enim ratione blanditiis? Voluptas rerum magni, quidem quos illum, suscipit alias tempore possimus dicta quasi earum labore nostrum culpa blanditiis voluptatum.
        </p>
        <p class="blog-post-date">10 Jan 2008 -- 20:45:32</p>
    </div>
{% endblock %}