<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 

    {% block head %}
        <title>Burny Llama's blog.</title>
    {% endblock %}
</head>
<body>
    <aside>
        <div style="height: 5rem; width: 5rem; background-color: red;"></div>
        <h1>BurnyLlama's Blog</h1>
    </aside>
    <main>
        {% block main %}
            <p>Hello World!</p>
        {% endblock %}
    </main>
</body>
</html>