.info-box {
    color: #00001F;
    background-color: #3DDF89;
    margin: .5em 0 1em 0;
    padding: .5rem 1rem;
}

.info-box > p {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.info-box * {
    margin: 0;
}

.error-box {
    background-color: #EF5255;
}

label {
    display: block;
}

textarea, input, .markdown-preview, .line-numbers {
    color: #E0E0FF;
    background-color: #20203F;
    border: .1rem solid #40405F;
    border-radius: .5rem;

    font-size: 1rem;
    width: min(60%, 45ch);
    margin: .5em 0 1em 0;
    padding: .5rem 1rem;

    caret-color: #4C9CEF;
    z-index: 3;

    transition: border-color .3s;
}

textarea:hover, input:hover {
    border-color: #4C9CEF;
}

textarea:active, textarea:focus, input:active, input:focus {
    outline: .1rem solid #4C9CEF;
}

input[type=submit] {
    width: unset;
    padding: .4rem 1.2rem;
    font-size: .9rem;
    cursor: pointer;
    color: #00001F;
    background-color: #4C9CEF;
    border-color: #4C9CEF;
    transition: border-radius .3s;
}

input[type=submit]:hover {
    border-radius: .75rem;
}

.markdown-editor {
    position: relative;
    height: 50vh;
    background-color: #20203F;
    border: .1rem solid #40405F;
    border-radius: .5rem;
}

textarea, .markdown-preview, .line-numbers {
    scrollbar-width: thin;
    overflow-wrap: break-word;
    overflow-x: visible;
    overflow-y: auto;
    resize: none;
    font-family: 'Fira Code', monospace;

    background-color: transparent;
    border: 0 none transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;

    padding: .5rem 1rem .5rem 2rem;
}

pre {
    background-color: transparent;
    border: 0 none transparent;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.markdown-preview {
    z-index: 2;
    scrollbar-width: none;
}

.markdown-preview *, .line-numbers * {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.markdown-preview b {
    letter-spacing: -.35px;
}

.markdown-preview .heading {
    color: #F4C025;
}

.markdown-preview .bold-italic {
    color: #3DDF89;
}

.markdown-preview .blockquote {
    color: #EE588F;
}

.markdown-preview .code {
    background-color: #30304F;
    padding: .2rem 0;
    border-radius: .2rem;
}

.markdown-preview .code .muted, .markdown-preview .code-block .muted {
    color: #70708F;
}

.markdown-preview .code-block {
    display: inline-block;
    background-color: #00001F;
    /* position: relative; */
    width: 100%;
}


.line-numbers {
    z-index: 1;
    background-color: transparent;
    /* I do not know why, but this solves weird scrolling issues... */
    padding-bottom: 5rem;
    scrollbar-width: none;
}

.line-numbers .line {
    color: transparent;
    margin: 0;
    counter-increment: line-numbers;
    position: relative;
}

.line-numbers .line::before {
    color: #40405F;
    content: counter(line-numbers);
    position: absolute;
    right: 100%;
    margin-right: .5rem;
    font-family: 'Fira Code', monospace;
    font-size: .8rem;
    top: .1rem;
}
