@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/assets/fonts/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Light.ttf);
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Lora-Medium.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/Lora-SemiBold.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Lora-Bold.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Lora-Italic.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Lora-MediumItalic.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/Lora-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "Lora";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Lora-BoldItalic.ttf);
}