*, :root, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

:root {
    color: #E0E0FF;
}

body {
    display: grid;
    grid-template-columns: 1fr auto min(65ch, 100%) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. aside main .';

    width: 100%;

    background-color: #00001F;
}

aside, main {
    background-color: #10102F;
    padding: 2rem;
}

aside {
    grid-area: aside;
    border-right: 1px solid #20203F;
    position: sticky;
    top: 0;
    height: 100vh;
}

aside > h1 {
    font-weight: 100;
}

main {
    grid-area: main;
}

.blog-post {
    margin-bottom: 5rem;
}

.blog-post > * {
    margin-bottom: 1rem;
}

.blog-post-title {
    font-weight: 500;
}

.blog-post-body {
    font-family: 'Lora', serif;
}

.blog-post-date {
    font-size: .85rem;
    font-weight: 600;
    text-transform: uppercase;

    margin-top: 1rem;
    border-top: 2px solid #E0E0FF;
    padding-top: .5rem;
}