*, :root, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

:root {
    color: #E0E0FF;
}

body {
    display: grid;
    grid-template-columns: 1fr auto minmax(auto, 65ch) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. aside main .';

    width: 100%;

    background-color: #00001F;
}

aside, main {
    background-color: #10102F;
    padding: 2rem;
}

aside {
    grid-area: aside;
    border-right: 1px solid #20203F;
    position: sticky;
    top: 0;
    height: 100vh;
}

aside > h1 {
    font-weight: 100;
    margin: 1rem 0;
    border-bottom: 0 none transparent;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    grid-area: main;
}



/* GENERICS */
p {
    margin: .5em 0 1em 0;
    font-family: 'Lora', serif;
}

p * {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    font-size: 1.5rem;
    padding-bottom: .25em;
    margin: 1em 0 .5em 0;
}

h1 {
    border-bottom: 1px solid #80809F;
}

h2 {
    font-size: 1.35rem;
    border-bottom: 1px solid #60607F;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

blockquote {
    background-color: #20203F;
    margin: .5em .5rem 1em .5rem;
    padding: .8rem 1.2rem;
    border-left: .2rem solid #EE588F;
    border-radius: 0 .5rem .5rem 0;
}

blockquote p {
    margin: 0;
}

code {
    font-size: .95rem;
    font-family: 'Fira Code', monospace;
    background-color: #00001F;
    border: 1px solid #40405F;
    border-radius: .2rem;
    padding: .1rem .2rem;
}

pre {
    background-color: #00001F;
    border: 1px solid #40405F;
    border-radius: .5rem;
    margin: .5em 0 1em 0;
    padding: .3rem .8rem;
}

pre * {
    font-family: 'Fira Code', monospace;
    color: #D0D0EF;
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
}

a {
    color: #4C9CEF;
    transition: color .1s;
}

a:hover {
    color: #74B6FB;
}

hr {
    border: 0 none transparent;
    border-top: 1px solid #80809F;
}



/* Blog posts */
.blog-post {
    margin-bottom: 5rem;
}

.blog-post > * {
    margin-bottom: 1rem;
}

.blog-post-title {
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 0 none transparent;
}

.blog-post-image {
    height: 8rem;
    width: 100%;
    background-color: #3DDF89;
    background-position: center;
    background-size: cover;
}

.blog-post-date {
    font-family: 'Manrope', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    text-transform: uppercase;

    margin-top: 1rem;
    border-top: 2px solid #E0E0FF;
    padding-top: .5rem;
}



/* Control Panel */
.info-box {
    color: #00001F;
    background-color: #3DDF89;
    margin: .5em 0 1em 0;
    padding: .5rem 1rem;
}

.info-box > p {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.info-box * {
    margin: 0;
}

.error-box {
    background-color: #EF5255;
}

label {
    display: block;
}

textarea, input {
    color: #E0E0FF;
    background-color: #20203F;
    border: .1rem solid #40405F;
    border-radius: .5rem;

    font-size: 1rem;
    width: min(60%, 45ch);
    margin: .5em 0 1em 0;
    padding: .5rem 1rem;

    transition: border-color .3s;
}

textarea {
    overflow-x: auto;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    resize: vertical;
    width: 100%;
    font-family: 'Fira Code', monospace;
}

textarea:hover, input:hover {
    border-color: #4C9CEF;
}

textarea:active, textarea:focus, input:active, input:focus {
    outline: .1rem solid #4C9CEF;
}

input[type=submit] {
    width: unset;
    padding: .4rem 1.2rem;
    font-size: .9rem;
    cursor: pointer;
    color: #00001F;
    background-color: #4C9CEF;
    border-color: #4C9CEF;
    transition: border-radius .3s;
}

input[type=submit]:hover {
    border-radius: .75rem;
}



/* PHONE */
@media screen and (max-width: 799px) {
    body {
        grid-template-columns: 1fr minmax(auto, 65ch) 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: '. aside .' '. main .';
    }

    aside {
        position: static;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}