*, :root, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

:root {
    color: #E0E0FF;
}

body {
    display: grid;
    grid-template-columns: 1fr auto minmax(auto, 65ch) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. aside main .';

    width: 100%;

    background-color: #00001F;
}

aside, main {
    background-color: #10102F;
    padding: 2rem;
}

aside {
    grid-area: aside;
    border-right: 1px solid #20203F;
    position: sticky;
    top: 0;
    height: 100vh;
}

aside > h1 {
    font-weight: 100;
    margin: 1rem 0;
}

.aside-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    grid-area: main;
}

.blog-post {
    margin-bottom: 5rem;
}

.blog-post > * {
    margin-bottom: 1rem;
}

.blog-post-title {
    font-weight: 500;
}

.blog-post-body {
    font-family: 'Lora', serif;
}

.blog-post-date {
    font-size: .85rem;
    font-weight: 600;
    text-transform: uppercase;

    margin-top: 1rem;
    border-top: 2px solid #E0E0FF;
    padding-top: .5rem;
}

a {
    color: #4C9CEF;
    transition: color .1s;
}

a:hover {
    color: #74B6FB;
}


/* PHONE */
@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: '. aside .' '. main .';
    }

    aside {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-links {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}